.contact
{
    padding: 0rem;

}
.contact-heading
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.contact-heading h2{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 600;

}
.contact-container
{
    max-width: 1170px;
    margin: auto;
    padding: 1rem;
}
.row
{
    display: flex;
    flex-wrap: unset;
    position: relative;
    left: 2rem;

}
.column
{
    flex: 0 0 auto;
    width: 74%;
}
.contact-widget
{
    margin-bottom: 40px;
    padding-right: 20px;

}
.contact-widget-item
{
    margin-bottom: 40px;
    overflow: hidden;

}
.icon
{
    margin-bottom: 20px;

}
.text h5{
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: 9px;

}
.text p{
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-bottom: 18px;

}
.contact-form form input{
    height: 42px;
    width: 40%;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all .3s;
}
/* .contact-form form textarea
{
    width: 40%;
    height: 90px;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all .3s;
}
.contact-form form button
{
    width: 25%;
    margin-left: 59px;
    font-weight: 900;
    cursor: pointer;
} */
.map-column
{
    flex: auto;
    width: 100%;

}
.contact-map iframe
{
    width: 100%;

}

